@import "theme.css";

#dictionary-nav {
    -fx-background-color: nav_color1;
}

#search_button {
    -fx-background-image: url(../graphic/icons/search.png);
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.mainbg {
    -fx-background-color: white1;
}

.textwindow {
    -fx-background-color: white0;
}