@import "theme.css";

/*---------------------------------------------------------------------------------------------------*/

#add-button {
    -fx-background-image: url(../graphic/icons/plus.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 20 20;
}

/*---------------------------------------------------------------------------------------------------*/

#speak-button {
    -fx-background-image: url(../graphic/icons/speak.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#edit-button {
    -fx-background-image: url(../graphic/icons/edit.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#save_edit_button {
    -fx-background-image: url(../graphic/icons/save.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#remove-button {
    -fx-background-image: url(../graphic/icons/delete.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#add_favorite_button {
    -fx-background-image: url(../graphic/icons/favourite.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#favorite_toggle_button {
    -fx-background-image: url(../graphic/icons/favourite.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#favorite_toggle_button:selected {
    -fx-background-image: url(../graphic/icons/favourite_true.png);
    -fx-background-size: 35;


}

/*---------------------------------------------------------------------------------------------------*/
#search_button {
    -fx-background-image: url(../graphic/icons/search.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 35;

    -fx-background-position: 50% 50%;
}

#history_button {
    -fx-background-image: url(../graphic/icons/history.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 35;
}

#favorite_button {
    -fx-background-image: url(../graphic/icons/favourite.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 35;
}

/*---------------------------------------------------------------------------------------------------*/

#word-info-label {
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

#word-info-meaning {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-opacity: 1;

    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent
}

/*---------------------------------------------------------------------------------------------------*/

#search_box,
#word_list_box,
#word_info_area {
    -fx-background-color: white0;
    -fx-effect: dropshadow(three-pass-box, #27282E, 1, 0, 0, 0);
}

/*---------------------------------------------------------------------------------------------------*/


.list-cell:empty {
    -fx-opacity: 0;
}

.function-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.7;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
}

.function-button:disabled {
    -fx-background-color: transparent;
    -fx-opacity: 0.2;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
}

.function-button:hover {
    -fx-background-color: white2;
}

.function-button .pressed {}

/*---------------------------------------------------------------------------------------------------*/

.SHF_group {
    -fx-opacity: 0.7;
    -fx-background-color: transparent;

}

.SHF_group:hover {
    -fx-background-color: white2;
}

.SHF_group:selected {
    -fx-background-color: white4;
}

/*---------------------------------------------------------------------------------------------------*/
.scroll-bar:vertical {
    -fx-pref-width: 12;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white0;
}

.scroll-bar:vertical .track {
    -fx-background-color: white2;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/*---------------------------------------------------------------------------------------------------*/

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.mainbg {
    -fx-background-color: white1;
}

.textwindow {
    -fx-background-color: white0;
}

/*---------------------------------------------------------------------------------------------------*/

.word-info-text {}

.word-info-text.type {}

.word-info-text.pronounce {}

.word-info-text.example {}

.word-info-text.meaning {}

.word-info-text.undefined {}

/*---------------------------------------------------------------------------------------------------*/