@import "theme.css";

#dictionary-nav {
    -fx-background-color: nav_color1;
}

#search_button {
    -fx-background-image: url(../graphic/icons/search.png);
    -fx-background-repeat: stretch;
    -fx-background-position: 50% 50%;
}

#add-button {
    -fx-background-image: url(../graphic/icons/plus.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 40 40;
}

#speak-button {
    -fx-background-image: url(../graphic/icons/speak.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#edit-button {
    -fx-background-image: url(../graphic/icons/edit.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#remove-button {
    -fx-background-image: url(../graphic/icons/delete.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 30;
}

#history-button {
    -fx-background-image: url(../graphic/icons/history.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 40 40;
}

#favorite-button {
    -fx-background-image: url(../graphic/icons/favourite.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50% 50%;
    -fx-background-size: 40 40;
}

#word-info-label {
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-opacity: 1;
}

#word-info-meaning {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-opacity: 1;

    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent
}


.list-cell:empty {
    -fx-opacity: 0;
}

.function-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
}

.function-button:hover {
    -fx-background-color: white3;
}

.function-button .pressed {}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.mainbg {
    -fx-background-color: white1;
}

.textwindow {
    -fx-background-color: white0;
}