@import "theme.css";

.speak_button {
    -fx-background-image: url(../graphic/icons/speak.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30;
    -fx-background-position: 50%;

    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.speak_button:hover {
    -fx-background-color: white2;
}

.mainbg {
    -fx-background-color: white1;
}

#swap_lang_button {
    -fx-background-image: url(../graphic/icons/swap.png);
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 7% 60%;

    -fx-background-color: white0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), .1, 0, 0, 0);
}

#translate_button {
    -fx-background-image: url(../graphic/icons/translate_button_background.png);
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10% 50%;

    -fx-background-color: nav_color0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), .1, 0, 0, 0);
}

.textwindow {
    -fx-background-color: white0;
    -fx-effect: dropshadow(three-pass-box, #27282E, 1, 0, 0, 0);

}

.text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-color: transparent;
}

.line {
    -fx-opacity: 0.2;
}

/*---------------------------------------------------------------------------------------------------*/
.scroll-bar:vertical {
    -fx-pref-width: 12;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white0;
}

.scroll-bar:vertical .track {
    -fx-background-color: white2;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}