.scroll-pane {
    -fx-effect: dropshadow(three-pass-box, #27282E, 1.5, 0, 0, 0);

}

.label.header {
    -fx-padding: 20 0 0 20;
    -fx-font-size: 30;
}

.label.text {
    -fx-padding: 0 0 0 40;
    -fx-font-size: 22;
}

/*---------------------------------------------------------------------------------------------------*/

.image-view {}

#preview_dictionary {
    -fx-image: url(../graphic/screenshots/dictionary_tab.png);
}

#preview_google {
    -fx-image: url(../graphic/screenshots/google_tab.png);

}

#preview_games {
    -fx-image: url(../graphic/screenshots/games.png);

}

/*---------------------------------------------------------------------------------------------------*/
.scroll-bar:vertical {
    -fx-pref-width: 12;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white0;
}

.scroll-bar:vertical .track {
    -fx-background-color: white2;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}