@import "theme.css";

.root {
    -fx-background-color: white1;
    -fx-pref-width: 1100;
    -fx-pref-height: 700;
    -fx-min-width: 1100;
    -fx-min-height: 700;
}

#mainPane {
    -fx-background-radius: 1%;
}

#closeButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0 10 0 0;
    -fx-alignment: center;
    -fx-graphic: url('../graphic/icons/close.png');
}

#closeButton:hover {
    -fx-background-color: #C42B1C;
}

#minimizeButton {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-graphic: url('../graphic/icons/minimize-sign.png');
}

#minimizeButton:hover {
    -fx-background-color: #D1D1D1;
}

#home {
    -fx-background-size: 40 40;

}

#main_dictionary {
    -fx-background-size: 45 45;
}

#quizz {
    -fx-background-size: 45 45;
}

#google {
    -fx-background-size: 40 40;
}

#wordle {
    -fx-background-size: 40 40;
}

#ctw {
    -fx-background-size: 40 40;
}

.navbutton-tooltip {
    -fx-font: normal bold 15 Langdon;
    -fx-base: #AE3522;
    -fx-text-fill: orange;
}

#titleBar {
    -fx-pref-width: 1000;
    -fx-pref-height: 30;
    -fx-background-color: linear-gradient(to top, #655180, #27282E);
    -fx-background-radius: 10 10 0 0;
}

#nav-panel {
    -fx-pref-width: 100;
    -fx-background-color: linear-gradient(to bottom, #655180, #27282E);
    -fx-spacing: 2.5px;
    -fx-background-radius: 0 0 0 10;
}

.nav-button {
    -fx-pref-width: 100;
    -fx-pref-height: 75;

    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;

    -fx-background-position: 50% 50%;
    -fx-background-repeat: no-repeat;

    -fx-background-color: transparent;
}

.nav-button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, grey, darkgray 50%, transparent);
}

.nav-button.focused {
    /*-fx-background-color: white1;*/
    -fx-background-color: linear-gradient(to right, white3, white1);
}