* {
    -white-color: white;
    -wrong-color: #787c7e;
    -text-fill-color: black;
    -empty-border-color: #d3d6da;
    -unlocked-border-color: #878a8c;
    -background-color: white;
    -key-background-color: #d3d6da;
    -present-color: #c9b458;
    -correct-color: #6aaa64;
    -selected-color: blue;
}

#helpButton, #restartButton, #exitButton {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-color: transparent;
}

#helpButton {
    -fx-graphic: url("../../game/images/help.png");
}

#restartButton {
    -fx-graphic: url("../../game/images/restart.png");
}

#exitButton {
    -fx-graphic: url("../../game/images/exit.png");
}

#helpButton:hover, #restartButton:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, grey, darkgray 50%, transparent);
}

#exitButton:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, grey, darkgray 40%, transparent);
}

#choice-box {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#text-box {
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

#question-box {
    -fx-background-color: whitesmoke;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-radius: 75;
    -fx-background-radius: 75;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-pref-width: 800;
    -fx-pref-height: 500;
    -fx-wrap-text: true;
}

.default-tile {
    -fx-background-color: -background-color;
    -fx-border-color: -empty-border-color;
    -fx-text-fill: -text-fill-color;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-width: 200px;
    -fx-pref-height: 65px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}