* {
    /* the bigeer the number, the darker the color */
    white0: #f8f9fa;
    white1: #dee2e6;
    white2: #caced3;
    white3: #adb5bd;
    white4: #a0a7a5;
    white5: #819796;

    green0: #d9ed92;
    green1: #b5e48c;
    green2: #99d98c;

    nav_color0: #a8ca58;
    nav_color1: #75a743;

}